<h2>Welcome to Blackjack!<h2>

<form action='/nameset' method='post'>
  <fieldset>
    <legend>Please enter your name:</legend>
    <label>Player 1</label>
    <input type="text" name="playernameinput" placeholder="Your name">
    <br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>